<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomi.parts"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>

    <uses-sdk android:minSdkVersion="28" />

    <protected-broadcast android:name="com.android.systemui.doze.pulse" />
    <protected-broadcast android:name="com.xiaomi.parts.CUST_UPDATE" />

    <application
        android:label="@string/xiaomiparts_title"
        android:supportsRtl="true"
        android:theme="@style/CustomOptionsTheme">

        <receiver
            android:name=".BootReceiver"
            android:defaultToDeviceProtectedStorage="true"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DeviceSettingsActivity"
            android:exported="false"
            android:icon="@drawable/ic_xiaomiparts"
            android:label="@string/xiaomiparts_title"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.dismiss"
                android:value="9,13,30" />
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.homepage" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/xiaomiparts_settings_summary" />
        </activity>

        <activity
            android:name=".kcal.KCalSettingsActivity"
            android:exported="false"
            android:theme="@style/CustomOptionsTheme"
            android:label="@string/advanced_settings_kcal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.xiaomi.parts.ambient.SensorsDozeService"
                 android:permission="SensorsDozeService">
        </service>

        <activity
            android:name="com.xiaomi.parts.ambient.AmbientGesturePreferenceActivity"
            android:icon="@drawable/ic_doze"
            android:theme="@style/CustomOptionsTheme"
            android:label="@string/ambient_display_gestures_title">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
        </activity>

        <service
            android:name=".XiaomiPartsTile"
            android:enabled="true"
            android:icon="@drawable/qs_xiaomi"
            android:label="@string/xiaomiparts_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service
            android:name=".FPSInfoService"
            android:exported="false">
        </service>
        <service
            android:name=".FPSTileService"
            android:icon="@drawable/ic_fps_info"
            android:label="@string/fps_info_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
    </application>
</manifest>
