# Copyright (c) 2013-2018, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init
    mkdir /firmware 0771 system system
    mkdir /bt_firmware 0771 system system
    mkdir /dsp 0771 media media

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    mount_all /vendor/etc/fstab.qcom
    swapon_all /vendor/etc/fstab.qcom

    mkdir /persist/data 0700 system system
    mkdir /persist/bms 0700 root system
    restorecon_recursive /persist

    wait /dev/block/bootdevice/by-name/oem
    mount ext4 /dev/block/bootdevice/by-name/oem /oem ro nosuid nodev barrier=1

on init
    write /sys/module/qpnp_rtc/parameters/poweron_alarm 1
    chmod 0664 sys/kernel/debug/camera/logsync

on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /data/tombstones/modem 0771 system system
    mkdir /data/tombstones/lpass 0771 system system
    mkdir /data/tombstones/wcnss 0771 system system
    mkdir /data/tombstones/dsps 0771 system system
    mkdir /persist/data/sfs 0700 system system
    mkdir /persist/data/tz 0700 system system
    mkdir /persist/qti_fp 0700 system system
    mkdir /data/misc/dts 0770 media audio
    mkdir /data/vendor/hbtp 0750 system system
    mkdir /persist/data 0700 system system
    mkdir /persist/bms 0700 root system
    mkdir /data/preloads 0775 system system
    mkdir /data/preloads/media 0775 system system
    mkdir /data/preloads/demo 0755 system system
    restorecon_recursive /persist

# Vibrator
    chown system system /sys/class/timed_output/vibrator/vtg_level
    chown system system /sys/class/timed_output/vibrator/vtg_max
    chown system system /sys/class/timed_output/vibrator/vtg_min
    chmod 0644 /sys/class/timed_output/vibrator/vtg_level
    chmod 0644 /sys/class/timed_output/vibrator/vtg_max
    chmod 0644 /sys/class/timed_output/vibrator/vtg_min

   # Add a cpuset for the camera daemon
   # We want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/camera-daemon/mems 0
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks

#Create folder for mm-qcamera-daemon
mkdir /data/vendor/camera 0770 camera camera
mkdir /data/misc/camera 0770 camera camera

# Start camera server as daemon
service qcamerasvr /vendor/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics
    setenv LD_PRELOAD "libshim_c.so"

## Allow usb charging to be disabled peristently
#on property:persist.usb.chgdisabled=1
#    write /sys/class/power_supply/battery/charging_enabled 0
#
#on property:persist.usb.chgdisabled=0
#    write /sys/class/power_supply/battery/charging_enabled 1
#
#service qrngd /system/bin/qrngd -f
#   class main
#   user root
#   group root
#
#service qrngp /system/bin/qrngp
#    class main
#    user root
#    group root
#    oneshot
#    disabled
#
#on property:sys.boot_completed=1
#    start qrngp
#
	# Set idle GPU to 133 Mhz
	write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 6
    
	# Set cpu-boost    
	write /sys/module/cpu_boost/parameters/input_boost_freq "0:1036800"
	write /sys/module/cpu_boost/parameters/input_boost_ms 1500
	
	# enable force fast charge
	write /sys/kernel/fast_charge/force_fast_charge 1

service qseecomd /vendor/bin/qseecomd
   class core
   user root
   group root

# add PcbaConfigSet
service PcbaConfigSet /system/vendor/bin/PcbaConfigSet
    class core
    oneshot

#service aostlmd /system/bin/aostlmd
#   class late_start
#   user system
#   group system net_raw

service perfd /system/vendor/bin/perfd
   class main
   user root
   disabled

service gamed /system/vendor/bin/gamed
   class main
   user system
   group system
   disabled
   socket gamed seqpacket 0640 system system

service thermal-engine /system/vendor/bin/thermal-engine
   class main
   user root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   socket thermal-send-rule stream 0660 system system
   group root

service time_daemon /system/vendor/bin/time_daemon
   class late_start
   user root
   group root

service hbtp /vendor/bin/hbtp_daemon
    class main
    user system
    group system
    disabled

service audiod /vendor/bin/audiod
   class late_start
   user system
   group system

on boot
    start rmt_storage
#    insmod /system/lib/modules/adsprpc.ko
#
    write /dev/cpuset/top-app/boost/cpus 4-7
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-6
    write /dev/cpuset/foreground/cpus 0-6
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-3
#
# access permission for secure touch
#    chmod 0660 /sys/devices/soc.0/78b7000.i2c/i2c-3/3-0020/input/input0/secure_touch_enable
#    chmod 0440 /sys/devices/soc.0/78b7000.i2c/i2c-3/3-0020/input/input0/secure_touch
#    chmod 0660 /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/secure_touch_enable
#    chmod 0440 /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/secure_touch
#    chown system drmrpc /sys/devices/soc.0/78b7000.i2c/i2c-3/3-0020/input/input0/secure_touch_enable
#    chown system drmrpc /sys/devices/soc.0/78b7000.i2c/i2c-3/3-0020/input/input0/secure_touch
#    chown system drmrpc /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/secure_touch_enable
#    chown system drmrpc /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/secure_touch
#    chown system system /sys/kernel/hbtp/display_pwr

# Add a cpuset for the camera daemon
# We want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-3
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks

    ####Regionalization config and prop files####
    chmod 0644 /persist/speccfg/spec
    chmod 0644 /persist/speccfg/devicetype
    chmod 0644 /persist/speccfg/mbnversion
    chmod 0644 /persist/speccfg/.not_triggered
    chmod 0644 /persist/speccfg/vendor_ro.prop
    chmod 0644 /persist/speccfg/vendor_persist.prop
    chmod 0644 /persist/speccfg/submask
    chmod 0644 /persist/speccfg/partition
    chmod 0644 /persist/spkr_calibration.bin
    chown system system /persist/speccfg/spec
    chown system system /persist/speccfg/devicetype
    chown system system /persist/speccfg/mbnversion
    chown system system /persist/speccfg/.not_triggered
    chown system system /persist/speccfg/vendor_ro.prop
    chown system system /persist/speccfg/vendor_persist.prop
    chown system system /persist/speccfg/submask
    chown system system /persist/speccfg/partition

service wcnss-service /system/vendor/bin/wcnss_service
    class main
    user system
    group system wifi radio
    oneshot

service imsqmidaemon /vendor/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio log diag

service imsdatadaemon /vendor/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet log diag
    disabled

on property:vendor.ims.QMI_DAEMON_STATUS=1
    start imsdatadaemon

service ims_rtp_daemon /vendor/bin/ims_rtp_daemon
   class main
   user system
   group radio diag inet log
   disabled

service vendor.imsrcsservice /vendor/bin/imsrcsd
   class main
   user system
   group radio diag inet log
   disabled

on property:vendor.ims.DATA_DAEMON_STATUS=1
   start ims_rtp_daemon
   start vendor.imsrcsservice


service ppd /vendor/bin/mm-pp-dpps
    class late_start
    user system
    group system graphics
    socket pps stream 0660 system system
    disabled

on property:init.svc.surfaceflinger=stopped
    stop ppd

on property:init.svc.surfaceflinger=running
    start ppd

on property:init.svc.surfaceflinger=restarting
    stop ppd

on property:init.svc.zygote=stopped
    stop ppd

on property:init.svc.zygote=running
    start ppd

on property:init.svc.zygote=restarting
    stop ppd

on charger
    wait /dev/block/bootdevice/by-name/system
    mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1
    load_all_props
    setprop sys.usb.configfs 0
    setprop persist.sys.usb.config mass_storage
    start qcom-post-boot
    setprop persist.sys.usb.config mass_storage
    start hvdcp_opti
    # hq log
    setprop debug.charger.on 1


service dts_configurator /system/vendor/bin/dts_configurator
    class late_start
    user system
    group media audio
    oneshot

service dtseagleservice /system/vendor/bin/dts_eagle_service
    class late_start
    user system
    group audio media
    disabled

service adsprpcd /system/vendor/bin/adsprpcd
    class main
    user media
    group media

service hvdcp_opti /system/vendor/bin/hvdcp_opti
   class main
   user root
   group system wakelock

on property:init.svc.dts_configurator=stopped
    start dtseagleservice

service per_mgr /system/vendor/bin/pm-service
    class core
    user system
    group system net_raw

service per_proxy /system/vendor/bin/pm-proxy
    class core
    user system
    group system
    disabled

on property:init.svc.per_mgr=running
    start per_proxy

on property:sys.shutdown.requested=*
    stop per_proxy

service energy-awareness /system/vendor/bin/energy-awareness
    class main
    user root
    group system
    oneshot

service mdtpd /system/vendor/bin/mdtpd
    class late_start
    user root
    group system radio drmrpc

# add for huaqin ftm test
service redledon /system/vendor/bin/factory_bin r 1
    user root
    oneshot
    disabled

on property:sys.redledon=1
    start redledon

service redledoff /system/vendor/bin/factory_bin r 0
    user root
    oneshot
    disabled

on property:sys.redledoff=1
    start redledoff

service whiteflashon /system/vendor/bin/factory_bin w 1
    user root
    oneshot
    disabled

on property:sys.whiteflashon=1
    start whiteflashon

service whiteflashoff /system/vendor/bin/factory_bin w 0
    user root
    oneshot
    disabled

on property:sys.whiteflashoff=1
    start whiteflashoff

service gsensortest /system/vendor/bin/sensors_test g
    user root
    oneshot
    disabled

on property:sys.gsensortest=1
    start gsensortest

service rsensortest /system/vendor/bin/sensors_test r
    user root
    oneshot
    disabled

on property:sys.rsensortest=1
    start rsensortest

service msensortest /system/vendor/bin/sensors_test m
    user root
    oneshot
    disabled

on property:sys.msensortest=1
    start msensortest

service lsensortest /system/vendor/bin/sensors_test l
    user root
    oneshot
    disabled

on property:sys.lsensortest=1
    start lsensortest

service psensortest /system/vendor/bin/sensors_test p
    user root
    oneshot
    disabled

on property:sys.psensortest=1
    start psensortest

service chmodtpon /system/vendor/bin/chmodtp o 1
    user root
    oneshot
    disabled

on property:sys.chmodtp=1
    start chmodtpon

service chmodtpoff /system/vendor/bin/chmodtp f 1
    user root
    oneshot
    disabled

on property:sys.chmodtp=2
    start chmodtpoff
# add end

# add for tp color id
service getcolorid /system/vendor/bin/getcolorid
    class core
    oneshot

# add for fsn and psn
service getxiaomisn /system/vendor/bin/getsn_xiaomi
    class core
    oneshot

## added by Devine for ap diag begin
service hwdiag /system/bin/hwdiag
    class core
    user root
    seclabel u:r:hwdiag:s0
## added by Devine for ap diag end

#add for runintest --start
service systemcommand /system/bin/systemcommand
    user root
    oneshot
    disabled

on property:sys.systemcommand=start
    start systemcommand

on property:sys.systemcommand=stop
    stop systemcommand
#add for runintest --end

# for factory current test --begin
service screentimeout /system/bin/sh /system/vendor/etc/init.qcom.screentimeout.sh
    class main
    user root
    oneshot
    disabled
    seclabel u:r:shell:s0

# hq log start
service  getaplog /system/bin/getlog -c
    disabled
    user root
    oneshot
    seclabel u:r:logoem:s0

service  stopaplog /system/bin/getlog -s
    disabled
    user root
    oneshot
    seclabel u:r:logoem:s0

on property:persist.sys.debug.getaplog=1
    restart getaplog
on property:persist.sys.debug.getaplog=0
    start stopaplog

service  getqxdmlog /system/bin/getlog -q
    disabled
    user root
    oneshot
    seclabel u:r:logoem:s0

service  stopqxdmlog /system/bin/getlog -x
    disabled
    user root
    oneshot
    seclabel u:r:logoem:s0

on property:persist.sys.debug.getqxdmlog=1
    restart getqxdmlog
on property:persist.sys.debug.getqxdmlog=0
    start stopqxdmlog

service  cpanrlog  /system/bin/sh /system/etc/cpanrlog.sh
    disabled
    user root
    oneshot
    seclabel u:r:logoem:s0

service  cptomblog  /system/bin/sh /system/etc/cptomblog.sh
    disabled
    user root
    oneshot
    seclabel u:r:logoem:s0
service  gettcpdumplog /system/bin/getlog -t
    disabled
    user root
    oneshot
    seclabel u:r:logoem:s0

service  stoptcpdumplog /system/bin/getlog -p
    disabled
    user root
    oneshot
    seclabel u:r:logoem:s0

service  getpersistlog /system/bin/getpersistlog
    class main
    user root
    oneshot
    seclabel u:r:logoem:s0

on property:persist.sys.debug.gettcpdump=1
    restart gettcpdumplog
on property:persist.sys.debug.gettcpdump=0
    start stoptcpdumplog

service getalllog /system/bin/sh /system/etc/getalllog.sh
    disabled
    user root
    oneshot
    seclabel u:r:logoem:s0
on property:persist.sys.debug.getalllog=1
    restart getalllog
on property:persist.sys.debug.getalllog=0
    stop getalllog
# hq log end

on property:sys.screentimeout=1
    start screentimeout
# for factory current test --end
on boot
    write /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/fw_name PR1702898-s3528t_00260005_00380008.img
    write /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/update_fw 1

on boot
    #hqlog
    start getpersistlog
    #Ignore modem crash 
    write /sys/bus/msm_subsys/devices/subsys4/restart_level related

service maxcurrent_nocall /system/vendor/bin/factory_bin m 0
    user root
    oneshot
    disabled

on property:sys.m.incall=0
    start maxcurrent_nocall

service maxcurrent_incall /system/vendor/bin/factory_bin m 1
    user root
    oneshot
    disabled

on property:sys.m.incall=1
    start maxcurrent_incall

service scancode /system/vendor/bin/factory_bin qr prop
    class main
    user root
    oneshot

on property:persist.audio.chk.cal.spk=1
    setprop audio.chk.cal.spk 1

on property:persist.audio.chk.cal.spk=2
    setprop audio.chk.cal.spk 2

service openad /system/vendor/bin/displayf_bin s 1
    user root
    oneshot
    disabled

on property:sys.hq.ad=1
    start openad

service closead /system/vendor/bin/displayf_bin s 0
    user root
    oneshot
    disabled

on property:sys.hq.ad=0
    start closead
